@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    AbSteveKim ASP.NET Project Company<br />
    Calgary, AB T3G-5T9<br />
    <abbr title="Phone">P:</abbr>
    403.973.2967
</address>

<address>
    <strong>Contact:</strong> <a href="mailto:abstevekim@gmail.com">abstevekim@gmail.com</a><br />
</address>
